html {
	font-size: 16px;
}

body {
	font-family: Arial, sans-serif;
	background-color: #FFFFC0;
	margin: 0;
	padding: 0;
}

p {
	text-align: center;
	font-size: 1rem;
}

a {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: darkblue;
}

ul {
	margin: 0px;
	padding: 0px;

	text-align: center;
	list-style-type: none;
}

li {
	padding: 1rem 0;
	font-size: 1.5rem;
}
